<div class="card">
  <div class="card-block">
    <%= link_to "All Posts", posts_path, class: 'btn btn-info pull-right' %>
    <h1 class="card-title">New Comment</h1>

    <div class="card-block">
      <%= render 'form' %>
    </div>

  </div>

</div>
