<div class="card">
  <div class="card-block">
    <%= link_to "New Post", new_post_path, class: 'btn btn-primary pull-right' %>
    <h1 class="card-title">All Posts</h1>

    <p class="card-text">All of the posts that have been posted to the site.</p>
      <div class="card">
        <div class="card-block">
          <p class="card-text">Lol</p>
        </div>
      </div>

  </div>
</div>
